<div class="container">
 <form action="/create_game" method="post">
   <input type="text" value="JCB" name="p1" placeholder="P1 Initials">
   <input type="text" value="NC" name="p2" placeholder="P2 Initials">
   <input type="submit">
 </form>
 <a href="/history">History</a>
</div>
